<h2 style="margin-top: 50px;">update Thread</h2>
<form class="make-thread">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Thread title</label>
    <textarea class="form-control" id="title" rows="1" placeholder="">{{title}}</textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="text" rows="3" placeholder="">{{text}}</textarea>
  </div>
  <div class="col-auto makeThread">
    <button type="click" class="btn btn-primary mb-3" id="updatePush">update thread</button>
  </div>
</form>

<script src='/js/update.js'></script>